<div class="bgimage gradient-green gradient-animated">
    <div class="content">
        <div class="grid">
            <div class="col-1-1">
                <div class="score-wrapper paper-layer">
                    <table>
                        <thead>
                            <tr>
                                <td>Platz</td>
                                <td>Score</td>
                                <td>Name</td>
                                <td>Welt</td>
                            </tr>
                        </thead>
                        <tbody id="js-insert">
                            {{#each scores}}
                                <tr data-pid="{{this.$id}}">
                                    <td>
                                        <strong># {{index}}</strong>
                                    </td>
                                    <td>{{this.score}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.world}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var fetchScores = function() {
            var markup = Util.getScoreTable({ index: true }, function done(markup) {
                $('#js-insert').html(markup);
            });
        };

        window.setInterval(fetchScores, 10 * 1000);
    }, false);
</script>
