<div class="content">
    <div class="grid">
        <div class="col-1-1">
            <div class="score-wrapper paper-layer">
                <h1>Highscores.</h1>
                <table>
                    <thead>
                        <tr>
                            <td>Platz</td>
                            <td>Score</td>
                            <td>Name</td>
                            <td>Welt</td>
                        </tr>
                    </thead>
                    <tbody id="js-insert">
                        {{#each scores}}
                            <tr data-pid="{{this.$id}}">
                                <td>
                                    <strong># {{index}}</strong>
                                </td>
                                <td>{{this.score}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.world}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function documentIsReady() {
        var fetchScores = function fetchScores() {
            Util.getScoreTable({ index: true }, function done(markup) {
                $('#js-insert').html(markup);
            });
        };

        window.setInterval(fetchScores, 10 * 1000);
    }, false);
</script>
