<div class="content">
    <div class="grid">
        <div class="col-1-1">
            <div class="score-wrapper paper-layer">
                <h1>Highscores.</h1>
                <table>
                    <thead>
                        <tr>
                            <td>Platz</td>
                            <td>Score</td>
                            <td>Name</td>
                            <td>Welt</td>
                        </tr>
                    </thead>
                    <tbody id="js-insert">
                        {{#each scores}}
                            <tr data-pid="{{this.$id}}">
                                <td>
                                    <strong># {{index}}</strong>
                                </td>
                                <td>{{this.score}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.world}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var interval = Container.settings.scores.refetch;
        var fetchScores = function() {
            if(Container.settings.debug) {
                var date = new Date();
                var timestamp = date.toTimeString().split(' ')[0];
                console.log('Refetching scores at %s', timestamp);
            }

            Util.getScoreTable({ index: true }, function(markup) {
                $('#js-insert').html(markup);
            });
        };

        console.log('Refetching scores with an interval of %ds ...', interval / 1000);
        window.setInterval(fetchScores, interval);
    });
</script>
