<div class="score-wrapper paper-layer">
    <h1>Highscores.</h1>
    <table>
        <thead>
            <tr>
                <td>Platz</td>
                <td>Score</td>
                <td>Name</td>
                <td>Welt</td>
            </tr>
        </thead>
        <tbody id="js-insert">
            {{#each scores}}
                <tr data-pid="{{this.$id}}">
                    <td>
                        <strong># {{index}}</strong>
                    </td>
                    <td>{{this.score}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.world}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
